customtkinter==5.1.2
httpx-cache==0.13.0
httpx==0.24.1
jsonpath-ng==1.6.1
loguru==0.6.0
pycountry==22.3.5
pydantic==1.10.9
# pyperclip==1.8.2
python-dotenv==1.0.0
PyYAML==5.4.1
regex==2023.3.23
rich==13.4.2
tinydb-serialization==2.1.1
tinydb==4.8.0
typer==0.7.0
typing_extensions==4.5.0